input[type=radio] {
    display: none;

    + label {
        margin-left: 20px;
        position: relative;

        &:before,
        &:after {
            border-radius: 20px;
            background-color: white;
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            transition: all 0.3s;
        }

        &:before {
            border: 1px solid $gray;
            height: 12px;
            left: -20px;
            transform: translateY(-50%);
            width: 12px; 
        }

        &:after {
            background: radial-gradient(circle, lighten($ork-green, 15), darken($ork-green, 15));
            height: 12px;
            left: -19px;
            transform: translateY(-50%) scale(0);
            width: 12px;
        }

        &:hover,
        &:focus {
            cursor: pointer;
        }
    }

    &:checked + label {
        &:before {
            border-color: $macragge-blue;
        }

        &:after {
            transform: translateY(-50%) scale(1);
        }
    }
}