.fancy-button {
    border-radius: 4px;
    height: 1.45em;
    margin: 0 0.15em;
    min-width: 1.45em;
    overflow: hidden;
    position: relative;
}

.fancy-button__wrapper {
    position: relative;
}

.fancy-button__icon {
    height: 70%;
    left: 50%;
    position: absolute;
    top: 55%;
    transform: translateX(-50%) translateY(-50%);
    width: 70%;
}

.fancy-button__gradient-overlay {
    background: linear-gradient(to bottom, rgb(0 0 0 / 35%) 0%,rgb(255 255 255 / 5%) 50%,rgb(0 0 0 / 25%) 51%,rgb(255 255 255 / 10%) 100%);
    width: 100%;
}

.fancy-button:hover {
    cursor: pointer;
}

    .fancy-button:hover .fancy-button__gradient-overlay {
        background: linear-gradient(to bottom, rgb(0 0 0 / 30%) 0%,rgb(255 255 255 / 10%) 50%,rgb(0 0 0 / 20%) 51%,rgb(255 255 255 / 40%) 100%);
    }

    .fancy-button:hover + .fancy-button__tooltip {
        display: block;
    }

    .fancy-button:active .fancy-button__gradient-overlay {
        background: linear-gradient(to bottom, rgb(0 0 0 / 55%) 0%,rgb(0 0 0 / 20%) 50%,rgb(0 0 0 / 45%) 51%,rgb(0 0 0 / 10%) 100%);
    }

.fancy-button:active .fancy-button__shade {
    display: block;
}

.fancy-button__gradient-overlay,
.fancy-button__shade {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.fancy-button__label {
    line-height: 1.35em;
}

.fancy-button__shade {
    box-shadow: inset 0 0 4px 1px black;
    display: none;
    width: 100%;
}

.fancy-button__tooltip {
    background: rgba(255, 255, 255, 0.8);
    clip-path: polygon(
            0 1em, 0.5em 0.5em, /*Top-left corner*/ 
            calc(50% - 0.5em) 0.5em, 50% 0, calc(50% + 0.5em) 0.5em, /*Arrow point*/
            100% 0.5em, /*Top-right corner*/
            100% calc(100% - 0.5em), calc(100% - 0.5em) 100%, /*Bottom-right corner*/
            0 100% /*Bottom-left corner*/
    );
    display: none;
    font-size: 0.6em;
    left: 50%;
    min-width: 15em;
    padding: 1em 0.5em 0.5em;
    position: absolute;
    text-align: center;
    top: calc(100% + 0.25em);
    transform: translateX(-50%);
}

.star-system__action--zoom-out .fancy-button__icon,
.star-system__action--zoom-in .fancy-button__icon {
    height: 40%;
    width: 40%;
}