.interactive-tile {
    min-height: 240px;
    position: relative;
    transition: all 0.3s;
}

    .interactive-tile:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

.interactive-tile__content {
    background-color: white;
    border-radius: 4px;
    color: #606060;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.interactive-tile__title,
.interactive-tile__subtitle {
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.interactive-tile__title {
    margin-bottom: 0;
}

.interactive-tile__subtitle {
    font-size: 0.8em;
    padding-bottom: 6px;
}

.interactive-tile__overlay {
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
}

.interactive-tile__description {
    flex: 1;
    font-size: 0.7em;
    padding: 4px 12px;
    white-space: pre-wrap;
}

.interactive-tile__release-info {
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.6em;
    justify-content: space-around;
}

    .interactive-tile__release-info p {
        margin: 4px 0;
    }

.interactive-tile__title,
.interactive-tile__subtitle,
.interactive-tile__description,
.interactive-tile__release-info {
    color: white;
    position: relative;
    z-index: 10;
}

.interactive-tile__overlay,
.interactive-tile__title,
.interactive-tile__subtitle,
.interactive-tile__description,
.interactive-tile__release-info {
    opacity: 0;
    transition: opacity 0.3s;
}

.interactive-tile:hover .interactive-tile__overlay,
.interactive-tile:hover .interactive-tile__title,
.interactive-tile:hover .interactive-tile__subtitle,
.interactive-tile:hover .interactive-tile__description,
.interactive-tile:hover .interactive-tile__release-info {
    opacity: 1;
}

.interactive-tile__background {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
