.spinnyboi {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    left: 50%;
    min-height: 24px;
    padding: 4px 12px 4px 32px;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

    .spinnyboi:before {
        -webkit-animation: perpetualSpinVerticalAlign 1s linear 0s infinite normal forwards;
        animation: perpetualSpinVerticalAlign 1s linear 0s infinite normal forwards;
        border-radius: 24px;
        border-left: 2px solid #1da1f2;
        border-right: 2px solid #1da1f2;
        content: "";
        display: block;
        height: 12px;
        left: 8px;
        position: absolute;
        top: 50%;
        width: 12px;
    }

    .spinnyboi em {
        display: block;
        text-align: center;
    }

    .spinnyboi.initial-spinner {
        background: rgba(255, 255, 255, 0.7);
    }
