.o-menu {
  background-color: $color-dark-purple;
  box-shadow: 0px -10px 16px 8px $color-red-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;

  &__line {
    display: none;
    flex: 1;
    left: calc($font-size-base * 0.5);
    position: relative;
    width: 8px;

    span {
      max-height: $font-size-base;
    }

    &--top {
      padding-bottom: $font-size-base;

      span {
        top: calc(100% - $font-size-base) !important;
      }
    }

    &--bottom {
      padding-top: $font-size-base;
    }

    @media screen and (min-width: $screen-size-large) {
      display: flex;
    }
  }

  &__line-inner {
    background-color: $color-red-main;
    height: 100%;
    width: 100%;
  }

  &__items {
    display: flex;
    margin: 0 auto;
    padding: $padding-size-tiny;
    width: fit-content;

    @media screen and (min-width: $screen-size-large) {
      flex-direction: column;
      justify-content: space-between;
      margin: 0 0 0 calc(#{-$margin-size-base} * 0.5);
      padding: $padding-size-base $padding-size-base $padding-size-base 0;
    }
  }

  @media screen and (min-width: $screen-size-large) {
    box-shadow: none;
    flex: 0 calc($font-size-base * 12);
    height: 100vh;
  }
}