.twitter-feed {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.tweet {
    background-color: #fff;
    display: grid;
    grid-template-columns: [left-col] 48px [right-col] 1fr;
    grid-template-rows: [header] 48px [content] 1fr;
    overflow: hidden;
}

.tweet__info,
.tweet__profile-img {
    background-color: #1da1f2;
    border-bottom: 1px solid #0967a0;
    grid-row-start: header;
}

.tweet__profile-img {
    position: relative;
}

    .tweet__profile-img img {
        border-radius: 48px;
        -webkit-clip-path: circle(48px);
        clip-path: circle(48px);
        height: 2.5em;
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        width: 2.5em;
    }

.tweet__info {
    padding-left: 6px;
}

.tweet__names em {
    font-size: 0.8em;
    margin-left: 6px;
}

.tweet__created-at {
    font-size: 0.8em;
}

.tweet__content {
    border-top: 1px solid #e6e6e6;
    grid-column: left-col/none;
    grid-row-start: content;
    padding: 0 6px 6px;
}

.draggable-tweet {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 6px;
}

    .draggable-tweet .draggable-icon {
        background-color: #1da1f2;
    }

    .draggable-tweet .draggable-content {
        background: #1575b0;
        padding: 0;
    }

.twitter-tweet-rendered {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
