.twitter-filters {
    background-color: #bbb;
    border-radius: 4px;
    margin: 0 8px 8px;
    padding: 6px;
    width: fit-content;

    .form-row {
        margin-left: 0;
        margin-right: 0;
    }

    label {
        font-size: 0.8em;
    }

    &__form__field-wrapper {
        margin: 0 4px;
    
        input {
            font-size: 0.8em;
        }
    }

    .form-actions--twitter-filters__form {
        button {
            font-size: 0.7em;
            margin: 6px 4px 0 0;
        }
    }
}