input[type=checkbox] {
    display: none;

    + label {
        margin-left: 20px;
        position: relative;

        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
        }

        &:before {
            background-color: white;
            border: 1px solid $gray;
            border-radius: 2px;            
            height: 12px;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
            width: 12px;
        }

        &:hover,
        &:focus {
            cursor: pointer;
        }
    }

    &:checked + label {
        &:before {
            border-color: $macragge-blue;
        }

        &:after {
            animation: animatedCheckIcon 0.2s linear 0s normal forwards;
            background-color: $ork-green;
            height: 20px;
            left: -24px;
            top: -8px;
            transform: rotateZ(-45deg);
            width: 20px;
        }
    }
}