@mixin frosted-glass(
    $intensity: 1rem,
    $bgColor: rgba(255, 255, 255, 0.5), 
    $color: black,
    $borderColor: rgba(255, 255, 255, 0.3), 
    $borderRadius: 8px
) {
    border-radius: $borderRadius;
    backdrop-filter: blur($intensity);
    background-color: $bgColor;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid $borderColor;
    color: $color
}