.star-system {
    background-color: #0C0820;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.star-system__container {
    height: 500%;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 500%;
}

.star-system__background {
    height: 100%;
    width: 100%;
}

.bg-star {
    background-color: white;
    border-radius: 0.1em;
    height: 0.1em;
    position: absolute;
    width: 0.1em;
}
