@keyframes perpetualSpinVerticalAlign {
    0% {
        transform: translateY(-50%) rotateZ(0deg);
    }

    100% {
        transform: translateY(-50%) rotateZ(360deg);
    }
}

@keyframes animatedCheckIcon {
    0% {
        clip-path: polygon(0 50%, 10% 50%, 10% 50%, 0 50%, 10% 50%, 10% 50%);
    }

    50% {
        clip-path: polygon(0 50%, 10% 50%, 10% 90%, 10% 90%, 0 100%, 0 100%);
    }

    100% {
        clip-path: polygon(0 50%, 10% 50%, 10% 90%, 80% 90%, 80% 100%, 0 100%);
    }
}