header {
    background: #811331;
    border-radius: 4px;
    color: #fff;
    margin: 12px 0;
    padding: 8px 0;
}

.navbar-brand {
    color: white !important;
}

.navbar-light .navbar-nav .nav-link,
.dropdown-toggle {
    background-color: #ca1c4b;
    border: none;
    border-radius: 0;
    clip-path: polygon(0% 0.5em, 0.5em 0%, 100% 0%, 100% calc(100% - 0.5em), calc(100% - 0.5em) 100%, 0% 100%);
    color: white !important;
    font-size: 0.9em;
    margin: 0 6px;
    min-width: 120px;
    padding: 6px 0;
    text-align: center;
    transition: background-color 0.3s;
}

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link:focus,
    .dropdown-toggle:hover,
    .btn-secondary:focus,
    .btn-secondary.focus {
        background-color: #f10c49;
        cursor: pointer;
    }

    .navbar-light .navbar-nav .nav-link:active,
    .dropdown-toggle:active,
    .btn-secondary:not(:disabled):not(.disabled):active,
    .btn-secondary:not(:disabled):not(.disabled).active,
    .show > .btn-secondary.dropdown-toggle {
        background-color: #551425;
        cursor: pointer;
    }


.dropdown-menu.show {
    background-color: #f8f8f8;
    border: none;
    border-radius: 0;
    box-shadow: 4px 4px 7px -5px black;
    clip-path: polygon( 0% 0.5rem, calc(50% - 0.5rem) 0.5rem, 50% 0%, calc(50% + 0.5rem) 0.5rem, calc(100% + 1rem) 0.5rem, calc(100% + 1rem) calc(100% + 1rem), 0% calc(100% + 1rem) );
    left: 50% !important;
    padding: 1rem 0 0.5rem;
    transform: translate3d(-50%, 34px, 0) !important;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #828282;
}