// ----- [ Includes
@import "variables"; // Variables
@import "helpers"; // Helpers
@import "mixins"; // Mixins

// ----- [ Components
@import "components/atoms";
@import "components/molecules";
@import "components/organisms";
@import "components/templates";

// ----- [ Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: $color-dark-purple;
}

input,
textarea,
select,
label,
a {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  width: 100vw;

  &__content {
    flex: 1;
  }

  @media screen and (min-width: $screen-size-large) {
    flex-direction: row;
    width: $max-content-size;
  }
}